/** BEGIN Accordion **/
.accordion {
  width: 100%;
  max-width: 1100px;
  height: 250px;
  overflow: hidden;
  margin: 0;
  left: 0;

  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
  -o-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
  -ms-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  align-self: center;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;

  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  -o-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  -ms-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}

.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 180px;
}

.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}


/**Add img**/
.accordion ul li:nth-child(1) {
    background-image: url("../img/nature.jpg");
    background-size: cover;
}

.accordion ul li:nth-child(2) {
    background-image: url("../img/Revision1.jpg");
    background-size: cover;
}

.accordion ul li:nth-child(3) {
    background-image: url("../img/continuedTesting.jpg");
    background-size: cover;
}

.accordion ul li:nth-child(4) {
    background-image: url("../img/rooftop.jpg");
    background-size: cover;
}

.accordion ul li:nth-child(5) {
    background-image: url("../img/station.jpg");
    background-size: cover;
}

.accordion ul li:nth-child(6) {
    background-image: url("../img/urbanCO2.png");
    background-size: cover;
}

/**Transform**/
.accordion ul:hover li { width: 8%; }

.accordion ul:hover li:hover { width: 30%; }

.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }

.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/**Media**/
@media screen and (max-width: 800px) {

  .accordion {
    height: 0;
    margin: 0;
  }
}
