/* Default Style */

input:focus {
  outline: none !important;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Roboto;
}

h1 {
  color: #FFFFFF;
  background-color: #000;
  border: none;
  outline: none;
  padding: 10px 0px 10px 50px;
  height: auto;
  margin: 0;
  font-family: Optima;
}

h2 {
  border-left: 5px solid;
  padding: 0.2em 0.5em;
  border-color: #4cc6ff;
  background: #cff0ff;
}

footer {
  margin-top: 50px;
  padding: 30px;
}

/* Navigation bar */

.navbar-toggle .button-label {
  float: left;
  font-weight: bold;
  line-height: 12px;
}

.button-label {
  float: left;
  padding-left: 25px
}

.navbar-default {
  background: #fff;
  border: 0;
  margin: 0;
  font-family: sans-serif;
}

.navbar-brand {
  font-size: 20px;
  color: #000 !important;
  font-weight: bold;
}