input:focus {
    outline:none !important;
}

.navbar-toggle .button-label {
	display: inline-block;
	float: left;
	font-weight: bold;
	line-height: 12px;
}
.button-label {
	display: inline-block;
	float: left;
	padding-left: 25px
}

.navbar-default {
  background: #fff;
  border: 0;
  margin: 0;
  font-family: sans-serif;
}

.navbar-brand {
  font-size: 20px;
  color: #000 !important;
  font-weight: bold;
}

body, html {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Optima;
}

p {
    font-family: Roboto;
}


.inner-content {
    position: absolute;
}

.parallax {
    min-height: 500px;
    background: transparent;
}

.contain-text {

    max-width: none;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 22px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Optima;
    overflow: hidden;
}

.contain-text_2 {

    max-width: none;
    margin: 0 auto;
    background: #6a5acd;
    font-size: 22px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    color:aliceblue;
    font-family: Optima;
    overflow: hidden;
}

.topright {
    position: absolute;
    top: 150px;
    left: 60%;
    font-size: 18px;
}

#showcase h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#showcase img {
    width: 90%;
    margin-left: 60%;
}

#contact {
    padding: 45px;
}

footer {
    margin-top: 50px;
    padding: 30px;
}

.end {
    outline: none;
}



.btn-group-justified > .btn-group .btn {
    width: 100%;
    outline: none;
}

#slider .item{
    height: 500px;
    background-size: cover;

}

#slide1 {
    background: url("../img/umd_mall.png")
    center no-repeat;
}

#slide2 {
    background: url("../img/nature.jpg")
    center no-repeat;
}
#slide3 {
    background: url("../img/sunset.jpg")
    center no-repeat;
}

.carousel-caption {
    font-size: 18px;
}
