{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <h1>About Us</h1>
    <p><strong>SENSE:</strong></p>
     <p>Monitoring weather, air pollution and greenhouse gases with a low-cost smart sensor network.</p>
     <p>A University of Maryland student research project.</p>
     <p>&nbsp;</p>
     <p><strong>Why the project?</strong></p>
     <p>Current monitoring approach typically consists of high-accuracy but high-cost instruments (e.g., &gt;$100,000 for a Picarro CO2/CH4/H2O analyzer), which limits their wide-spread use.</p>
     <p><strong>Our Idea:</strong></p>
     <ul>
     <li>Using low-cost moderate-precision sensors in a smart network to quantify the spatial characteristics of air pollution gases and GHGs;</li>
     <li>Engaging students, educators, city residents, researchers, and government agencies, through real-time information display/feedback via web and cell phone apps;</li>
     <li>A good sense of one’s personal environment motivates and empowers individual citizen and groups for action.</li>
     </ul>
     <p>&nbsp;</p>
     <p><strong>Things a student can learn / do in this project:</strong></p>
     <p>Measurement techniques for weather/pollution/GHG</p>
     <ul>
     <li>Instrumentation: sensors for T,RH,P,CO2,CH4,CO,O3,PM2.5,VOC,anemometer,vane,…</li>
     <li>Electronics: circuitry, Arduino, Raspberry Pi, 3D printing, …</li>
     <li>Networking/communication: wireless via WIFI/cellphone network, …</li>
     </ul>
     <p>Data collection and analysis</p>
     <ul>
     <li>Programming skills in Unix shell, python, C/Fortran, graphics, GIS, etc.</li>
     <li>Statistical analysis: regression, neural network, etc.</li>
     </ul>
     <p>Modeling</p>
     <ul>
     <li>Mesoscale atmospheric modeling:</li>
     <li>Carbon cycle/chemistry models:</li>
     <li>Data assimilation</li>
     </ul>
     <p>Outreach/Management/Leadership</p>
     <ul>
     <li>Deployment and maintenance of sensor network</li>
     <li>Dissemination and use of information: enpowering individuals and groups for action</li>
     <li>Working with K-12 students/teachers, residents, companies, colleges and government agencies</li>
     </ul>
     <p>For more information, please <a href="http://sense.umd.edu/request-info/#contact">contact us</a>:</p>
  </div>
{% endblock %}
