<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1; user-scalable = no;" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="../static/img/sealwhite.png" type="image/png" sizes="16x16">
  <link rel="stylesheet" href="static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=
 Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  {% endblock %}
</head>

<body>
  {% block content %}
  {% include 'includes/_navbar.html' %}
  {% include 'includes/_messages.html' %}
  {% endblock %}

  {% block footer %}
  <footer>
    <p class="text-center" id="footer"></p>
  </footer>
  {% endblock %}

  <script>
    var date = new Date();
    var footer = document.getElementById('footer');
    footer.innerHTML = `Department of Atmospheric and Oceanic Sciences | University of Maryland &copy;${date.getFullYear()}`;
    console.log(footer);
    console.log(footer.innerHTML);
  </script>

  <script src="https://cdn.ckeditor.com/4.11.4/full-all/ckeditor.js"></script>

  <script type="text/javascript">
    CKEDITOR.replace('editor')
  </script>


</body>

</html>