{% extends 'layout.html' %}
{% block head %}
{{ super() }}
<title>News | SENSE</title>
<link rel="stylesheet" type="text/css" href="static/css/news.css">
<link rel="stylesheet" type="text/css" href="static/css/newsAccordion.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
{% endblock %}


{% block content %}
{{ super() }}
<!--Beginning-->
<div class="container-fluid" id="header">
  <div id="empty"></div>
  <img class="img-responsive" id="headerPic" src="static/img/NewsHeader.jpg">
  <h1><b>News</b></h1>
</div>


<div id="content">
  <!-- BEGIN sidebar -->
  <div id="sidebar">
    <div class="wrapper">
      <!-- begin popular posts -->
      <h2>Popular Posts</h2>
      <ul>
        <li><a href="./newSensorLocations.html">New Sensor Locations</a></li>
        <li><a href="#">Sensor Near Space</a></li>
        <li><a href="#">Congratulations to Cooper!</a></li>
      </ul>
      <!-- end popular posts -->
      <!-- BEGIN right -->
      <div class="sidemenu">
        <!-- begin archives -->
        <h2>Archives</h2>
        <ul>
          <li><a href="./newSensorLocations.html">August 2016</a></li>
          <li><a href="#">March 2016</a></li>
          <li><a href="#">March 2015</a></li>
          <li><a href="#">February 2015</a></li>
          <li><a href="#">November 2014</a></li>
          <li><a href="#">October 2014</a></li>
          <li><a href="#">September 2014</a></li>
          <li><a href="#">August 2014</a></li>
        </ul>
        <!-- end archives -->
        <!-- begin categories -->
        <h2>Categories</h2>
        <ul>
          <li><a href="#">Driving</a></li>
          <li><a href="#">Network</a></li>
          <li><a href="#">Outreach</a></li>
          <li><a href="#">Sensor</a></li>
          <li><a href="#">Uncategorized</a></li>
        </ul>
        <!-- end categories -->
      </div>
      <!-- END right -->
    </div>
  </div>

  <!-- BEGIN News Content -->

  <div id="NewsContent">

    <!-- BEGIN Accordion -->
    <!-- <div class="accordion">
                  <ul>
                    {% for article in articles|reverse() %}
                      {% if loop.revindex0 < 5 %}
                        <li>
                          <div> <a href="article/{{article.id}}">
                            <h2>{{article.title}}</h2>
                          </a> </div>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div> -->

    <!-- Static Accordion -->
    <!-- BEGIN Accordion -->
    <div class="accordion">
      <ul>
        <li>
          <div>
            <a href="./newSensorLocations.html">
              <h2 id="accordion_text">New Sensor Locations</h2>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#">
              <h2 id="accordion_text">Revision 1 Update</h2>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#">
              <h2 id="accordion_text">Continued Testing</h2>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#">
              <h2 id="accordion_text">Moon Festival Rooftop Party</h2>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#">
              <h2 id="accordion_text">Sensors</h2>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="#">
              <h2 id="accordion_text">Urban CO2 Dome</h2>
            </a>
          </div>
        </li>
      </ul>
    </div>


    <!-- begin post -->
    <h2 id="NewsTitle"><b>Recent News</b></h2>
    <div class="post">

      <h2><a href="./newSensorLocations.html">New Sensor Locations</a></h2>
      <p class="date">Posted on August 17, 2016 by <a href="http://aosc.umd.edu/~cmartin/">Cory Martin</a></p>
      <p>Within the past few weeks, two additional sensors have been installed, one in the heart of Washington, DC and
        another on the eastern shore of the Chesapeake Bay.</p>
      <a class="continue" href="./newSensorLocations.html">Continue Reading</a>
    </div>
    <!-- end post -->
    <!-- begin post -->
    <div class="post">

      <h2><a href="#">Sensor Near Space</a></h2>
      <p class="date">Posted on March 25, 2016 by <a href="http://aosc.umd.edu/~cmartin/">Cory Martin</a></p>
      <p>Late last fall, one UMD AOSC undergraduate student, Michael Hoffman, flew one of our sensor packages as part
        of the UMD Nearspace balloon program.</p>
      <a class="continue" href="#">Continue Reading</a>
    </div>
    <!-- end post -->
    <!-- begin post -->
    <div class="post">

      <h2><a href="#">Congratulations to Cooper!</a></h2>
      <p class="date">Posted on March 23, 2015 by <a href="http://www.atmos.umd.edu/~zeng/">Ning Zeng</a></p>
      <p>Congratulations to Cooper Gilbert, who has taken on the challenge of leading the Aerospace Engineering
        Department's Near-space Balloon Launch Program. We will miss Cooper in the SENSE project. Best of luck,
        Cooper!</p>
      <!-- <a class="continue" href="#">Continue Reading</a> </div> -->
      <!-- end post -->
    </div>

    {% for article in articles|reverse() %}
    <div class="post">
      <h2><a href="article/{{article.id}}">{{article.title}}</a></h2>
      <p class="date">Posted on {{article.create_date}} by {{article.author}}</p>
      <!--<p>{{article.body}}</p>-->
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}