<!DOCTYPE html>
{% extends 'layout.html' %}
{% block body %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable = no"/>
    <title>New Sensor Locations | SENSE</title>
    <link rel="icon" href="static/img/sealwhite.png" type="image/png" sizes="16x16">
    <link href = "https://fonts.googleapis.com/css?family=
 Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel = "stylesheet" type = "text/css">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "static/css/style.css">
    <link rel = "stylesheet" type = "text/css"  href = "static/css/news.css">
    <link rel = "stylesheet" type = "text/css"  href = "static/css/article.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type = "text/javascript" src = "static/js/bootstrap.min.js"></script>
  </head>


  <body>

    <!--Beginning-->
    <div class="container-fluid" id="header">
      <div id="empty"></div>
      <img class="img-responsive" id="headerPic" src="static/img/NewsHeader.jpg">
      <h1><b>News</b></h1>
    </div>

    <!-- BEGIN search -->
    <div id="headbar">
      <form class="search" action="#">
        <input type="text" name="s" id="s" />
        <span><button type="submit">Search</button>
      </form>
      <!-- Back to News -->
      <a class="backToNews" href="./news.html">Back to News</a>
    </div>

      <!-- BEGIN search -->

      <!-- To TOP Button -->
      <button onclick="topFunction()" id="myBtn" title="Back to top"><i class="fas fa-angle-double-up fa-4x"></i></button>

      <div id="content">


        <!-- BEGIN sidebar -->
        <div id="sidebar">
          <div class="wrapper">
            <!-- begin popular posts -->
            <h2>Popular Posts</h2>
            <ul>
              <li><a href="./newSensorLocations.html">New Sensor Locations</a></li>
              <li><a href="#">Sensor Near Space</a></li>
              <li><a href="#">Congratulations to Cooper!</a></li>
            </ul>
            <!-- end popular posts -->
            <!-- BEGIN right -->
            <div class="sidemenu">
              <!-- begin archives -->
              <h2>Archives</h2>
              <ul>
                <li><a href="./newSensorLocations.html">August 2016</a></li>
                <li><a href="#">March 2016</a></li>
                <li><a href="#">March 2015</a></li>
                <li><a href="#">February 2015</a></li>
                <li><a href="#">November 2014</a></li>
                <li><a href="#">October 2014</a></li>
                <li><a href="#">September 2014</a></li>
                <li><a href="#">August 2014</a></li>
              </ul>
              <!-- end archives -->
              <!-- begin categories -->
              <h2>Categories</h2>
              <ul>
                <li><a href="#">Driving</a></li>
                <li><a href="#">Network</a></li>
                <li><a href="#">Outreach</a></li>
                <li><a href="#">Sensor</a></li>
                <li><a href="#">Uncategorized</a></li>
              </ul>
              <!-- end categories -->
            </div>
            <!-- END right -->
          </div>
        </div>

          <!-- BEGIN News Content -->

            <div id="NewsContent">

                <!-- Article Title -->
                <h2 id="ArticleTitle"><b>New Sensor Locations</b></h2>

                <div id="share-buttons">
                    <!-- Email -->
                    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
                        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
                    </a>
                    <!-- Facebook -->
                    <a href="http://www.facebook.com/sharer.php?u=https://sense.umd.edu" target="_blank">
                        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                    </a>
                    <!-- Google+ -->
                    <a href="https://plus.google.com/share?url=https://sense.umd.edu" target="_blank">
                        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
                    </a>
                    <!-- Twitter -->
                    <a href="https://twitter.com/share?url=https://sense.umd.edu&amp;text=SENSE%20UMD&amp;hashtags=SENSEUMD" target="_blank">
                        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                    </a>
                    <!-- Print -->
                    <a href="javascript:;" onclick="window.print()">
                        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
                    </a>
                </div>


                <div class="post">
                    <!-- begin post -->
                    <p class="date">Posted on August 17, 2016 by <a href="http://aosc.umd.edu/~cmartin/">Cory Martin</a></p>
                    <p class="paragraph">Within the past few weeks, two additional sensors have been installed, one in the heart of Washington, DC and another on the eastern shore of the Chesapeake Bay.</p>
                    <p class="paragraph">The first one, is at the University of Maryland Center for Environmental Science at the Horn Point Lab in Cambridge, MD. The sensor package was placed near a picnic site on the banks of the Choptank River just inland from the Chesapeake Bay.</p>
                    <div class="picture container"><img class="img-responsive" src="static/img/nature.jpg" alt="" /></div>
                    <p class="note">Sensor at the Horn Point Lab</p>
                    <p class="paragraph">The second is located at one of the District of Columbia’s Department of Energy and the Environment’s air quality monitoring locations. This is located just off of 295 at Benning Road.</p>
                    <div class="picture container"><img class="img-responsive" src="static/img/benningRd.jpg" alt="" /></div>
                    <p class="note">DDOE Air Quality site off of 295 in DC</p>
                    <p class="paragraph">We hope to have more locations installed during the upcoming months.</p>
                    <!-- end post -->
                </div>
          </div>
      </div>




      <footer>
        <p class = "text-center">Department of Atmospheric and Oceanic Sciences | University of Maryland</p>
        <p class = "text-center">University of Maryland - AOSC &copy; 2018</p>
      </footer>

      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
      </script>


  </body>

</html>
{end body}
