{% extends 'layout.html' %}
{% block head %}
{{ super() }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable = no" />
<title>People | SENSE</title>
<link rel="icon" href="static/img/sealwhite.png" type="image/png" sizes="16x16">
<link href="https://fonts.googleapis.com/css?family=
    Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<link rel="stylesheet" type="text/css" href="static/css/people.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
{% endblock %}


{% block content %}
{{ super() }}
<!--Beginning-->

<div class="container-fluid" id="GroupPic">
  <picture>
    <source srcset="img/FFFFFF-0.png" media="(max-width: 810px)">
    <img class="img-responsive" id="umdLogo" srcset="static/img/cmns_logo.png">
  </picture>
  <picture>
    <source srcset="img/FFFFFF-0.png" media="(max-width: 600px)">
    <img class="img-responsive" id="aoscLogo" srcset="static/img/atmos_footer_droplet.png">
  </picture>
  <img class="img-responsive" src="static/img/senseGroupNarrow.jpg">
</div>


<div class="people">
  <h1><b>PEOPLE</b></h1>
</div>


<button class="collapsible" id="firstColl">
  <h2><i class="fas fa-angle-down"></i> Team Members</h2>
</button>
<div class="container-fluid contentDiv">
  <div id="theBioGrid">
    <ul class="row biogrid" id="biogrid">
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img alt="Ning Zeng" class="img-responsive" src="static/img/people/NingZeng.jpg">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Ning Zeng</b><br></span>
              <span>Director</span>
              <p class="description"><a href="http://www.atmos.umd.edu/~zeng/">Ning Zeng</a>
                is the director of the project and the developer of the SENSE system backbone.
                Ning was trained in Physics and studies the global carbon cycle,
                climate change and related environmental issues using models and observations.
                He is a professor in the Department of Atmospheric and Oceanic Science.
                Ning is still learning new tricks.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img alt="Shaun Howe" class="img-responsive" src="static/img/people/Shaun.jpg">
          <div class="hoverDiv">
            <div class=" animateBottomName">
              <span class="names"><b>Shaun Howe</b><br></span>
              <span>Project Coordinator</span>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Roshen Abraham" src="static/img/people/RoshenAbraham.jpg">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Roshen Abraham</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Zain Alam" src="static/img/alt.png">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Zain Alam</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Yunhan Bai" src="static/img/people/YunhanBai.jpg">
          <div class="hoverDiv">
            <div class=" animateBottomName">
              <span class="names"><b>Yunhan Bai</b><br></span>
              <p class="description">Yunhan Bai is an undergraduate sophomore at the University of Maryland.
                He majors in Computer Science, and double minors in Atmospheric Science and Statistics.
                He was born and raised in Kunming, China. In his free time, he enjoys reading and traveling.<p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Alexander Brunmayr" src="static/img/people/AlexanderBrunmayr.jpg">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Alexander Brunmayr</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="row biogrid" id="biogrid">
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Bo Chen" src="static/img/people/BoChen.jpg">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Bo Chen</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Yueru He" src="static/img/people/YueruHe.jpg">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Yueru He</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Wenjun Li" src="static/img/alt.png">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Wenjun Li</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Andres Carillo Lopez" src="static/img/people/AndresCarilloLopez.jpg">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Andres Carillo Lopez</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Nicholas Ruei" src="static/img/people/NicholasRuei.jpg">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Nicholas Ruei</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Javed Shaik" src="static/img/alt.png">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Javed Shaik</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="row biogrid" id="biogrid">
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Derek Schoenberger" src="static/img/people/DerekSchoenberger.jpg">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Derek Schoenberger</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Andrew Sherwood" src="static/img/alt.png">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Andrew Sherwood</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Chris Smith" src="static/img/alt.png">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Chris Smith</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Brandon Sobel" src="static/img/people/BrandonSobel.jpg">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Brandon Sobel</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Timmy" src="static/img/alt.png">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Timmy</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img class="img-responsive" alt="Ziyue Su" src="static/img/alt.png">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span class="names"><b>Ziyue Su</b><br></span>
              <p class="description"></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    </ul>
  </div>
</div>

<button class="collapsible">
  <h2><i class="fas fa-angle-down"></i> Associate Member/Faculty Mentor</h2>
</button>
<div class="container-fluid contentDiv">
  <div id="theBioGrid">
    <ul class="row biogrid" id="biogrid">
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <img alt="img/alt.png" class="img-responsive"
            src="https://aero.umd.edu/clark/facultyfile?un=bowden&fn=bowden.jpg&ct=img">
          <div class="hoverDiv">
            <div class="animateBottomName">
              <span><b>Mary Bowden</b><br></span>
              <p class="description">
                <a href="http://www.aero.umd.edu/faculty/bowden">Mary Bowden</a> is a professor under the Department of
                Aerospace Engineering,
                at the University of Maryland – College Park. She is the university’s
                representative at the Maryland Space Grant Consortium.
                Her research intersts involve space systems and operations,
                as well as structural dynamics.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/people/faculty/Russ.jpg"></a>
          <div class="hoverDiv">
            <div class=" animateBottomName">
              <span><b>Russ Dickerson</b><br></span>
              <p class="description">
                Professor <a href="http://www.atmos.umd.edu/~russ/">Russ Dickerson</a> is an atmospheric chemist with
                experience
                in measurements and models of global atmospheric chemistry and local
                air pollution. He is a member of NASA’s Air Quality Applied Sciences
                Team and Aura Science Team, and heads the FLux of Atmospheric
                Greenhouse Gases in Maryland and Regional Atmospheric Measurement
                Modeling and Prediction Program.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
        <div class="imgHolder">
          <a href="/"><img alt="img/alt.png" class="img-responsive" src="http://aosc.umd.edu/~xinrong/Ren_Pic.jpg"></a>
          <div class="hoverDiv">
            <div class=" animateBottomName">
              <span><b>Xinrong Ren</b><br></span>
              <p class="description">
                Dr. Xinrong Ren is an Atmospheric chemist with extensive experience .
                in field monitoring of atmospheric pollutants using the laser .
                spectroscopic and chromatographic methods,
                and model simulation of atmospheric photochemical oxidation.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


<!--------------------------------------------------------->
<!--Former members-->

<button class="collapsible">
  <h2><i class="fas fa-angle-down"></i> Former Members</h2>
</button>
<div class="container-fluid contentDiv">
  <ul class="row biogrid" id="biogrid">
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="http://aosc.umd.edu/~cmartin/">
          <img alt="Cory Martin" class="img-responsive" src="http://aosc.umd.edu/~cmartin/profilepic.png">
        </a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span class="names"><b>Cory Martin</b><br></span>
            <span>Project Coordinator</span>
            <p class="description"><a href="http://aosc.umd.edu/~cmartin/">Cory Martin</a>
              is the project coordinator. He entered the University of Maryland’s
              Department of Atmospheric and Oceanic Sciences (AOSC) in 2013 to pursue
              and Ph.D. He is the vice-president of the department’s student organization,
              MetoGrads. A native of Eastern Ohio, he is a graduate of The Ohio State
              University with a bachelor’s degree in Atmospheric Sciences.
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="Xiecheng Chen" class="img-responsive" src="static/img/people/former/Xiecheng.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span class="names"><b>Xiecheng Chen</b><br></span>
            <p class="description">Xiecheng Chen is a sophomore majoring in Biochemistry at the
              University of Maryland College Park. She is an international student from China
              and will be working on the UMD mesonet with the group members.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="Greta Easthom" class="img-responsive" src="static/img/people/former/Greta.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span class="names"><b>Greta Easthom</b><br></span>
            <p class="description">Greta Easthom is a junior Atmospheric Oceanic Science and Journalism double major.
              She is secretary and upcoming president for UMD's chapter American Meteorological Society.
              In her spare time she enjoys writing scientific articles for publications such as weather.umd.edu,
              Stories Beneath the Shell, and the Diamondback. Her areas of interest are in population
              and climate dynamics as well as weather communication. She has just started interning at ESSIC.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="Alaina Froh" class="img-responsive" src="static/img/people/former/Alaina.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span class="names"><b>Alaina Froh</b><br></span>
            <p class="description">Alaina Froh is an undergraduate junior at the University of Maryland.
              She is a Atmospheric & Oceanic Science major and Surficial Geology minor
              working on the CO2 modeling and analysis.
              She is from Montgomery County, MD and loves cooking and traveling when she can.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="Jackson Hill" class="img-responsive" src="static/img/people/former/Jackson.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span class="names"><b>Jackson Hill</b><br></span>
            <p class="description"></p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="Saewon Kwak" class="img-responsive" src="static/img/alt.png"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span class="names"><b>Saewon Kwak</b><br></span>
            <p class="description">Saewon Kwak is a sophomore studying Computer Science
              at the University of Maryland. She was born in Seoul and
              grew up in Montgomery County. Her hobbies include watching movies,
              going to trails, and playing with puppies.</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <!-- Second Row -->
  <ul class="row biogrid" id="biogrid">
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="Bruce Nairn" class="img-responsive" src="static/img/people/former/Bruce.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span class="names"><b>Bruce Nairn</b><br></span>
            <p class="description">Bruce Nairn is a senior studying Atmospheric & Oceanic Science
              at the University of Maryland. He grew up in far western Maryland, Garrett County,
              during the record, breaking 262 inches of snow of 2010-2011. </p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="Ramya Srinivasan" class="img-responsive" src="static/img/people/former/Ramya.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span class="names"><b>Ramya Srinivasan</b><br>
            </span>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="Zhanyi Tan" class="img-responsive" src="static/img/people/former/Zhanyi.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span class="names"><b>Zhanyi Tan</b><br>
            </span>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="Yimeng Wu" class="img-responsive" src="static/img/alt.png"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span class="names"><b>Yimeng Wu</b><br>
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <!-- Third Row -->
  <ul class="row biogrid" id="biogrid">
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <img alt="img/alt.png" class="img-responsive" src="static/img/people/former/Jeremiah.jpg">
        <div class="hoverDiv">
          <div class="animateBottomName">
            <span><b>Jeremiah Brown</b><br></span>
            <p class="description">
              Jeremiah Brown is a sophomore studying Computer Engineering
              at the University of Maryland.
              He is the Android App developer for the
              Environmental Monitoring project.
              Most of his skills relate to software and programming,
              with some skills in hardware and electrical engineering as well.
              He loves playing soccer and golf and is a
              Baltimore Ravens and Orioles fan.
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/people/former/Julia.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span><b>Julia Cavallo</b><br></span>
            <p class="description">
              Julia Cavallo is an undergraduate senior studying
              Atmospheric and Oceanic Science at the University of Maryland.
              Her senior thesis focuses on large scale surface winds
              and their influence on carbon dioxide transport.
              She will use this research to assist in analyzing data
              from the sensors provided by the SENSE group.
              In her free time, she enjoys hiking and spending time with her dog.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/alt.png"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span><b>Ben Dugal</b><br></span>
            <p class="description">
              Ben Dugal is an undergraduate student at
              the University of Maryland – College Park.
              He is studying computer science, and works on
              the software and hardware development aspects
              of the SENSE project.
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/alt.png"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span><b>Cooper Gilbert</b><br></span>
            <p class="description">
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/alt.png"></a>
        <div class="hoverDiv">
          <div class="animateBottomName">
            <span><b>Thomas Kelly</b><br></span>
            <p class="description">
              Thomas Kelly is a 2014 graduate of the University of Maryland
              and a former member of SENSE. He majored in Atmospheric and Oceanic Science
              and minored in GIS. His focus was on high-resolution analysis
              of Carbon Dioxide emissions related to transportation
              in the Washington, D.C. area.<p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/people/former/Alexa.jpg"></a>
        <div class="hoverDiv">
          <div class="animateBottomName">
            <span><b>Alexa Maines</b><br></span>
            <p class="description">
              Alexa Maines is a senior studying Atmospheric & Oceanic Science
              at the University of Maryland. She is currently managing the
              website and social media accounts. She is the social coordinator
              of the student chapter of the American Meteorological society
              and enjoys snorkeling and feminism.</p>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <!--Fourth Row-->
  <ul class="row biogrid" id="biogrid">
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/alt.png"></a>
        <div class="hoverDiv">
          <div class="animateBottomName">
            <span><b>Camden Miller</b><br></span>
            <p class="description">
              Camden Miller is an undergraduate student at
              the University of Maryland – College Park.
              He majors in Aerospace Engineering, and is the
              electrical design engineer for the SENSE.
              He is self taught in electronics hardware design and programming.
              On his free time, he enjoys working on many other engineering projects.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/alt.png"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span><b>Lynn Montgomery</b><br></span>
            <p class="description">
              Lynn is a senior at UMCP studying Atmospheric and Oceanic Sciences.
              She currently serves as the secretary of UMD’s chapter of
              the American Meteorological Society. She oversees the social media
              aspect of the project and will be involved in data analysis and processing.
              In her spare time she enjoys cloud watching and hiking.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/people/former/Evan.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span><b>Evan Ogata</b><br></span>
            <p class="description">
              Evan is a junior studying Civil Engineering at
              the University of Maryland. He is currently working on the modeling
              and spatial analysis of SENSE’s data through GIS desktop software
              in order to drive further discussion. On the weekends,
              he loves to relax by listening to music and playing golf. </p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/people/former/Michael.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span><b>Michael Pascone</b><br></span>
            <p class="description">
              Michael is a student in the University of Maryland’s
              Environmental Science and Policy Program. He majors in Marine
              and Coastal Management, and minors in GIS analysis.
              His contribution to SENSE is learning the tools to analyze data
              and help create new applications for mobile devices.
              In his free time, he enjoys hiking with his dogs, reading, and learning.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/alt.png"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span><b>Alex Poonai</b><br></span>
            <p class="description">
              Alex Poonai is a Senior Chemistry major at the University of Maryland.
              He is interested in analytical chemistry, and worked on sensor
              selection and design. Before working at DeNSE, he studied CO2 back
              trajectories from around the DC/Maryland/Virginia area with
              the AOSC Department. He currently works for Dr. Xinrong Ren at NOAA assisting in air quality measurement
              flights.
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/people/former/Hui.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span><b>Hui Shi</b><br></span>
            <p class="description">
              Hui Shi is a masters candidate at the University of Maryland,
              College Park. She majors in Computer Engineering and is
              the Software Developer for the SENSE.
              In her free time, she enjoys reading and sports.
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <!--Fifth Row-->
  <ul class="row biogrid" id="biogrid">
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/people/former/Jimmy.jpg"></a>
        <div class="hoverDiv">
          <div class="animateBottomName">
            <span><b>Jimmy Shue</b><br></span>
            <p class="description">
              Jimmy is a part of SENSE through the Maryland Student Research Program.
              He is a sophomore at UMCP who majors in Environmental Science and Policy
              and minors in Sustainability Studies. His interest in community-based
              environmental data collection brought him to SENSE.
              His goals involve learning about data collection and analysis,
              and helping with outreach and management.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/people/former/Bari.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span><b>Bari Turpie</b><br></span>
            <p class="description">
              Bari is a senior at UMCP who majors in Atmospheric and Oceanic Science.
              As part of his sensor thesis, Bari is working on DeNSE sensor calibration
              and weather shielding design and construction. His work in instrumentation
              will improve the accuracy of the SENSE CO2 sensor network.
              On his spare time, he enjoys long distance hiking,
              weather forecasting/analysis, and playing the guitar.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/people/former/Kristy.jpg"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span><b>Kristy Weber</b><br></span>
            <p class="description">
              <a href="https://www.colorado.edu/geography/kristy-weber-0">Kristy Weber</a> is a 2014 graduate of the
              University of Maryland
              and a former member of SENSE. Her interests were in instrumentation
              and deciphering human-climate interactions from different weather
              data sources. Currently she is a graduate student in physical geography
              at the University of Colorado at Boulder, using a combination of
              remote sensing and ground stations to study the carbon cycle.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 imgCell">
      <div class="imgHolder">
        <a href="/"><img alt="img/alt.png" class="img-responsive" src="static/img/alt.png"></a>
        <div class="hoverDiv">
          <div class=" animateBottomName">
            <span><b>Fang Zhao</b><br></span>
            <p class="description">
              Fang Zhao is a Ph.D candidate at the University of Maryland’s .
              Department of Atmospheric and Oceanic Science. He came to Maryland after
              receiving his Master’s degree at the University of Georgia in 2011</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  coll[0].classList.toggle("active");
  coll[0].nextElementSibling.style.display = "inline";

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "inline") {
        content.style.display = "none";
      } else {
        content.style.display = "inline";
      }
    });
  }
</script>

{% endblock %}