{% extends 'layout.html' %}
{% block head %}
{{ super() }}
<title>SENSE</title>
<link rel="stylesheet" href="static/css/home.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="static/js/parallax.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<!-- Carousel -->
<div id="wrapper">
    <div class="carousel slide" id="slider" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-slide-to=0 data-target="#slider"></li>
            <li data-slide-to=1 data-target="#slider"></li>
            <li data-slide-to=2 data-target="#slider"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" id="slide1">
                <div class="carousel-caption"></div>
            </div>
            <div class="item" id="slide2">
                <div class="carousel-caption"></div>
            </div>
            <div class="item" id="slide3">
                <div class="carousel-caption"></div>
            </div>
        </div>
        <!-- Carousel control -->
        <a class="left carousel-control" href="#slider" data-slide="prev" role="button">
            <span class="icon-prev"></span>
        </a>

        <a class="right carousel-control" href="#slider" data-slide="next" role="button">
            <span class="icon-next"></span>
        </a>
    </div>
</div>
<!-- end of carousel -->
<h1>SENSE</h1>
<div id="main">
    <div class="panel" id="welcome">
        <h2>Welcome!</h2>
        <p>SENSE: Monitoring weather, air pollution and greenhouse gases with low-cost high-density smart sensors in an
            urban environment.</p>
        <p>For more information, or to participate in the project such as hosting one of these sensors, please <a
                href="/register">register!</a><a id="learnMore" href="/about">Learn more</a></p>

    </div>
    <div id="content">
        <!-- Recent News -->
        <div class="panel" id="recentNews">
            <h2>Recent News</h2>
            {% for article in articles|reverse() %}
            <div class="post">
                <h3><a href="article/{{article.id}}">{{article.title}}</a></h2>
            </div>
            {% endfor %}
        </div>

        <!-- Demo -->

        <div class="panel" id="demo">
            <h2>Demo</h2>
        </div>

        <!-- Facebook plugin -->
        <div class="panel" id="socialMedia">
            <h2>Facebook</h2>

            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
            <div class="fb-page" id="fb-page" data-href="https://business.facebook.com/SENSEUMD/" data-tabs="timeline"
                data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
                data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://business.facebook.com/SENSEUMD/" class="fb-xfbml-parse-ignore"><a
                        href="https://business.facebook.com/SENSEUMD/">SENSE UMD</a></blockquote>
            </div>
        </div>
        <!-- end of Facebook plugin -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </script>

<!-- <script>
    // Mobile facebook view
    const fb = document.getElementById('fb-page');
    if (matchMedia) {
        const mq = window.matchMedia('(min-width: 450px)');
        mq.addEventListener((mq) => {
            if (mq.matches) {
                fb.setAttribute('data-width', "340px");
            } else {
                fb.setAttribute('data-width', "260px");
            }
        });
    }
</script> -->

{% endblock %}